@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" id="createFileCategoryForm" method="post" novalidate>
                        <h5 class="text-center">Create a Category</h5>
                        <div class="form-group mb-1">
                            <label for="categoryNameInput">Name:</label>
                            <input name="categoryName" type="text" class="form-control" id="categoryNameInput" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label for="categoryDescInput">Description:</label>
                            <textarea name="categoryDescription" class="form-control" id="categoryDescInput" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-2">
                            <input name="categoryIsEntertainment" type="checkbox" value="true" class="form-check-input" /> Entertainment
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" id="createFileCategory">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" id="createFileForm" method="post" novalidate>
                        <h5 class="text-center">Create a File</h5>
                        <div class="form-group mb-1">
                            <label for="itemNameInput">Name:</label>
                            <input name="fileName" type="text" class="form-control" id="itemNameInput" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label for="itemDescInput">Description:</label>
                            <textarea name="fileDescription" class="form-control" id="itemDescInput" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="checkbox mb-2">
                            <label for="selectCategory" class="form-label">Category:</label>
                            <select id="selectCategory" class="form-select selectpicker" data-live-search="true" required>
                                <option data-token="Some">Some</option>
                                <option data-token="Test">Test</option>
                                <option data-token ="Book">Book</option>
                                <option data-token ="Film">Film</option>
                                <option data-token ="Serial">Serial</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" id="createFile" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
            <br />
        </div>
        <div class="col-md-8 order-md-1">

        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        $(function () {
            $('.selectpicker').selectpicker();
        });

        $('#createFileCategory').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateCategory", "File")',
                data: $('#createFileCategoryForm').serialize(),
                success: function(response){
                        Swal.fire({
                            title: "Information",
                            text: response.description,
                            icon: "success"
                        });
                },
                error: function(response){
                        Swal.fire({
                            title: "Information",
                        text: response.responseJSON.description,
                            icon: "error"
                        });
                }
            })
        });

        $('#createFile').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateFile", "File")',
                data: $('#createFileForm').serialize(),
                success: function(response){
                    Swal.fire({
                        title: "Information",
                        text: response.description,
                        icon: "success"
                    });
                },
                error: function(response){
                    Swal.fire({
                        title: "Information",
                        text: response.responseJSON.description,
                        icon: "error"
                    });
                }
            })
        });
    </script>
}